.dropdown-menu {
    background: white;
    width: 220px;
    position: absolute;
    top: 35px;
    left: 166px;
    list-style: none;
    text-align: start;
    margin-top: 20px;
    display: block;
    padding: 0;
  }
  
  .dropdown-menu li {
    cursor: pointer;
    border-bottom: 1px solid gray;
    padding: 20px;
  }
  
  .dropdown-menu li:hover {
    background: #5cabff;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }