.cadre-table-scroll {
    display: inline-block;
    height: 15em;
    overflow-y: scroll;
   
  }
  .table thead th {
    position: sticky;
    top: 0;
    background-color: white;
  }
  .table tfoot td {
    position: sticky;
    bottom: 0;
  }
  .content{margin-left: 500px;
    
    }
  
    .alignbut{ text-align: center;

    }
    .alll{
      padding-top: 3%;
      margin-left: 25%;
      
      background-color: transparent;
     
  
    }
    .verr{
     
      padding-top: 3%;
      margin-left: 25%;
      background-color: transparent;
     
  
    }
    .alertwidthcompteclient{
      width:500px;
      margin-left:-500px ;
      margin-top: -40px;
    }
    .btn-roundd{margin-left: 20px;}