*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
    display: flex !important;
    flex-direction: column !important;
}
